!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body>

    <%- include ('partials/header') %>

<div class="flexinicio">

    <div class="logoYsite">

        <a href="http://localhost:3030/"> <img src="/images/logo.png"></a>

        <div class="productsList">
            <a href="">
            <h3>PLANTAS</h3>
            </a>
            <a href="">
            <h3>DECO</h3>
            </a>
            <a href="">
            <h3>SUSTRATOS</h3>
            </a>
        </div>

        <div class="actionsList">
            <a href="http://localhost:3030/users/register">
            <h3>Crea tu cuenta</h3>
            </a>
            <a href="http://localhost:3030/users/login">
            <h3>Login</h3>
            </a>
            <a href="http://localhost:3030/products/carrito">
            <h3>Carrito</h3>
            </a>
            <a href="">
            <h3>Contacto</h3>
            </a>
        </div>
    
    </div>
    <div class="create">

        <div class="contenedorcreate">

            <h2 class="tituloFormulario">Formulario de creación de productos</h2>

            <form action="/products" method="post" enctype="multipart/form-data">
        
                <div>
                    <label for="name" class="labelcreate">Nombre del producto:</label>
                    <input type="text" id="name" name="name" placeholder="Ej: potus, ficus,etc" class="labelinput">
                    <% if (locals.errors && locals.errors.name){ %> 
                        <p class="text-danger"><%= errors.name.msg %> </p>
                        <% } %> 
                </div>
                
                <div>
                    <label for="price" class="labelcreate">Precio del producto:</label>
                    <input type="text" id="price" name="price" placeholder="Ej: 5678" class="labelinput">
                    <% if (locals.errors && locals.errors.price){ %> 
                        <p class="text-danger"><%= errors.price.msg %> </p>
                        <% } %> 
                </div>

                <div>
                    <label class="labelcreate">Imagen de producto</label>
                    <input type="file" class="labelinput"  id= "imagen" name="imagen" value="Foto de Usuario">
                    <% if (locals.errors && locals.errors.imagen){ %> 
                        <p class="text-danger"><%= errors.imagen.msg %> </p>
                        <% } %> 
                </div>
                
                <div>
                    <label for="category" class="labelcreate">Categoría:</label>
                    <select name="category" id="category" class="labelinput">
                                <option value="">Elegí</option>
                                <option value="in-sale">En oferta</option>
                                <option value="visited">Últimos agregados</option>
                    </select>
                </div>
                <div>
                    <label for="tipo" class="labelcreate">Tipo de Producto:</label>
                    <select name="typeId" id="category" class="labelinput">
                                <option value="">Elegí</option>
                                <option value="planta">Panta</option>
                                <option value="sustrato">Sustrato</option>
                                <option value="deco">Deco</option>
                    </select>
                </div>
                <div>
                    <label for="color" class="labelcreate">Tipo de cuidado:</label>
                    <select name="siteId" id="category" class="labelinput">
                                <option value="">Elegí</option>
                                <option value="indoor">Indoor</option>
                                <option value="outdoor">Outdoor</option>
                    </select>
                </div>
                <div>
                    <label for="description" class="labelcreate">Descripción:</label>
                    <textarea name="description" id="description" class="labelinput"></textarea>
                    <% if (locals.errors && locals.errors.name){ %> 
                        <p class="text-danger"><%= errors.name.msg %> </p>
                        <% } %> 
                </div>
                

                <div>
                    <button type="submit" class="btnRegister">Guardar producto</button>
                </div>
                    
            </form>
        
        </div>
    
    </div>

</body>

</html>