<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body>
    
    <%- include ('partials/header') %>
        
    <div class="flexinicio">
        
        <div class="logoYsite">
            <a href="http://localhost:3030/"> <img src ="/images/logo.png" ></a>
            
            <div class ="productsList">
                <a href=""><h3>PLANTAS</h3></a>
                <a href=""><h3>DECO</h3></a>
                <a href=""><h3>SUSTRATOS</h3></a>
            </div>

            <div class ="actionsList">
                <a href="http://localhost:3030/users/register"><h3>Crea tu cuenta</h3></a>
                <a href="http://localhost:3030/users/login"><h3>Login</h3></a>
                <a href="http://localhost:3030/products/carrito"><h3>Carrito</h3></a>
                <a href=""><h3>Contacto</h3></a>
            </div>
        </div>
        
        <div class="productoDetalle">

            <div class="imagenDetalle">
                <h1><%= producto.name %></h1>
                <img src="/images/<%= producto.imagen%>">
            </div>

            <div class="descripcionProducto">
                <p> <%= producto.description %>  </p>
                <h2>$ <%=  producto.price %>  </h2>
                <button class="btnRegister">Agregar al carrito</button>
            </div>

            <div>
                <a href="/products/modificarProducto/<%= producto.id %> " class="btnRegister">EDITAR PRODUCTO</a>
				<form action="/products/eliminar/<%= producto.id %>?_method=delete" method="post">
					<button type="submit" class="btnRegister">ELIMINAR</button>
				</form>
            </div>

        </div>
        
    </div>
   
<footer>
    
    <%- include ('partials/footer')%>

    <div class="copyrightProducto">
        <h4>Copyright © 1999-2022 Forest Company.</h4>
    </div>

</footer>

</body>

</html>