<html lang="en">
    <!DOCTYPE html>

    <%- include ('partials/head')%>

    <body>
    
    <%- include ('partials/header') %>
    <%- include ('partials/profileBar')%>


    <div class="flexinicio">
    
        <div class="logoYsite">
        
             <a href="http://localhost:3030/"> <img src ="images/logo.png" ></a>
            <div class ="productsList">
                <div class="container">
                    <!-- code here -->
                    <a class="post" href="#">
                            <h2 class="post-title">Plantas</h2>
                    </a>
                </div>
            <a href=""><h3>DECO</h3></a>
            <a href=""><h3>SUSTRATOS</h3></a>
            </div>

            <div class ="actionsList">
            <a href="http://localhost:3030/users/register"><h3>Crea tu cuenta</h3></a>
            <a href="http://localhost:3030/users/login"><h3>Login</h3></a>
            <a href="http://localhost:3030/products/carrito"><h3>Carrito</h3></a>
            <a href=""><h3>Contacto</h3></a>
            </div>
    
        </div>
                
        <div class="productos">
    
            <h1> productos destacados </h1>

        <div class="item">
            <a href="products/<%= productos[4].id %>">
            <div class="img-producto">
                <img src="/images/<%= productos[4].imagen%>">
            </div>
            <p> <%= productos[4].name %> </p>
            <strong>$<%= productos[4].price %></strong>
            <button class="btnRegister"> Agregar al carrito </button>
            </a>
        </div>

        <div class="item">
            <a href="products/<%= productos[3].id %>">
            <div class="img-producto">
              <img src="/images/<%= productos[3].imagen %>">
            </div>
            <p> <%= productos[3].name %></p>
            <strong>$<%= productos[3].price%></strong>
            <button class="btnRegister"> Agregar al carrito </button>
            </a>
        </div>

        <div class="item">
            <a href="products/<%= productos[2].id %>">
            <div class="img-producto">
              <img src="/images/<%= productos[2].imagen %>">
            </div>
            <p> <%= productos[2].name %></p>
            <strong>$<%= productos[2].price %></strong>
            <button class="btnRegister"> Agregar al carrito </button>
            </a>
        </div>

        </div>

        <div class="verindex">
        <a href="/products"><button class="btnRegister">
            ver todos los productos
        </button></a>
        </div>
    </div>
   
    <%- include ('partials/footer')%>   
    
</body>

</html>