<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body>

    <%- include ('partials/header') %>

<div class="flexinicio">

    <div class="logoYsite">

        <a href="http://localhost:3030/"> <img src="/images/logo.png"></a>

        <div class="productsList">
            <a href="">
            <h3>PLANTAS</h3>
            </a>
            <a href="">
            <h3>DECO</h3>
            </a>
            <a href="">
            <h3>SUSTRATOS</h3>
            </a>
        </div>

        <div class="actionsList">
            <% if (!locals.isLogged){ %> 
                    
                <a href="http://localhost:3030/users/register"><h3>Crea tu cuenta</h3></a>
                <a href="http://localhost:3030/users/login"><h3>Login</h3></a>

                <% } else { %>
                    
                    <a href="http://localhost:3030/users/logOut"><h3>Salir</h3></a>
                    <a href="http://localhost:3030/products/crearProducto"><h3>Crear Producto</h3></a>

               <% } %> 
            <a href="">
                
            <h3>Contacto</h3>
            </a>
        </div>
    
    </div>
    <div class = "todoslosProductos">

        <h1> Todos los productos </h1>

        <% for (let i=0;i<productos.length; i++) { %>
        
        <div class="item">
            <a href="/products/<%=productos[i].id %>">
            <div class="img-producto">
              <img src="/images/<%= productos[i].imagen %>">
            </div>
            <p> <%= productos[i].name %></p>
            <strong>$ <%= productos[i].price %></strong>
            <button class="btnRegister"> Agregar al carrito </button>
            </a>
        </div>

        <% } %>

        
    </div>

</div>

</body>

</html>