<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head')%>

<body>
    
    <%- include ('partials/header')%>

    <div class="flexinicio">
    
    <div class="logoYsite">
                <a href="http://localhost:3030/"> <img src ="/images/logo.png" ></a>
            
        <div class ="productsList">
                <a href=""><h3>PLANTAS INTERIOR</h3></a>
                <a href=""><h3>PLANTAS EXTERIOR</h3></a>
                <a href=""><h3></h3></a>
        </div>

        <div class ="actionsList">
                <a href="http://localhost:3030/users/register"><h3>Crea tu cuenta</h3></a>
                <a href="http://localhost:3030/users/login"><h3>Login</h3></a>
                <a href="http://localhost:3030/products/carrito"><h3>Carrito</h3></a>
                <a href=""><h3>Contacto</h3></a>
        </div>
        
    </div>
        
        <div class="REGISTRARME">
            <form class="register" action="/users/register" method="post" enctype="multipart/form-data">
                
                
                <h1>REGISTRO DEL USUARIO
                                
        
                </h1>
                <div>
                    <label for="name">Nombre y Apellido:</label>
                    <input 
                        type="text" id="name" 
                        name="name" 
                        placeholder = "Escribí tu nombre" 
                        value="<% locals.oldData ? oldData.name : null %> ">

                    <% if (locals.errors && locals.errors.name){ %> 
                            <p class="text-danger"><%= errors.name.msg %> </p>
                            <% } %> 
                </div>
                <div>
                    <label for="name">Nombre de usuari@</label>
                    <input type="text" id="nameU" name="nameU" placeholder = "Escribí tu nombre de usuario" >
                </div>
                <% if (locals.errors && locals.errors.nameU){ %> 
                    <p class="text-danger"><%= errors.nameU.msg %> </p>
                    <% } %> 
                <div>
                    <label for="email">e-mail:</label>
                    <input type="email" name="email" id="email" placeholder = "Escribí tu mail" >
                    <% if (locals.errors && locals.errors.email){ %> 
                        <p class="text-danger"><%= errors.email.msg %> </p>
                        <% } %> 
                </div>
                <div>
                    <label for="name">Fecha de nacimiento</label>
                    <input type="date" id="date" name="date" >
                </div>
                <div>
                    <label for="name">Domicilio </label>
                    <input type="text" id="adress" name="adress" placeholder = "Escribí tu domicilio">
                    <% if (locals.errors && locals.errors.adress){ %> 
                        <p class="text-danger"><%= errors.adress.msg %> </p>
                        <% } %> 
                </div>
                <div>
                    <label>
                    Entregas en : 
                    </label>
                </div>
                
                <div class="registerBox" >
                    <label>
                    <input type="checkbox" name="envio" value="Mar del Plata">
                         Mar del Plata.
                    </label>
                    <label>
                        <input type="checkbox" name="envio" value="Tandil">
                        Tandil.
                    </label>
                    <label>
                        <input type="checkbox" name="envio" value="Balcarce">
                        Balcarce.
                    </label>
                </div>
                <div class="registerBox">
                    <label>
                        Foto de usuario
                        <input type="file" id = "image" name="image" value="">
                        <% if (locals.errors && locals.errors.imagen){ %> 
                            <p class="text-danger"><%= errors.imagen.msg %> </p>
                            <% } %>
                    </label>
                </div>
                <div class="registerBox">
                    <label>
                        Contraseña
                        <input type="password" name="password" value="" placeholder = "Contraseña" >
                        <% if (locals.errors && locals.errors.contrasenia){ %> 
                            <p class="text-danger"><%= errors.contrasenia.msg %> </p>
                            <% } %> 
                    </label>
                </div>
                <div class="registerBox">
                    <label>
                        Confirmar contraseña
                        <input type="password" type="pattern" name="confirmar" value="" placeholder = "Confirma tu contraseña" >
                        <% if (locals.errors && locals.errors.confirmar){ %> 
                            <p class="text-danger"><%= errors.confirmar.msg %> </p>
                            <% } %> 
                    </label>
                </div>

                <a href="/home"><button type="submit" class="btnRegister">Enviar</button></a>
                <button class="btnRegister" type="reset">Borrar datos</button>
            </form>

        </div>
        
    </div>
   
<footer>
    
    <div class="copyright">
        <h4>Copyright © 1999-2022 Forest Company.</h4>
    </div>

</footer>
       
</body>

</html>
            

                    
                    
               